
<h1>Add an Object to the Collection<h1>

<h3>

 <form method="POST" action="AddObj" id="AddObj" enctype='multipart/form-data'>
 		<div> Location**
			<BR>
			<textarea name="location" form="AddObj" cols='50' style="font-size:16px;" required></textarea>
		</div>
	 	<BR>
	 	Username: <input type="text" name = "maker" value ="">
	 	<BR>
	 	*Title: <input type="text" name = "title" value ="" required >
	 	<BR>
		<div>
			Image Upload
			<BR>
			<input type="file" name="pic" accept="image/*" form="AddObj" required>
		</div>

		<input type="submit" value="Submit" form="AddObj">
	</form>

</3>
	<p>
		<a href="/">Go Back to Home</a href>
	</p>
