


<form method="POST" action="AddObj" id="AddObj" enctype='multipart/form-data'>
 	Title: <input type="text" name = "title" value ="" required>
	 <BR>
	 <input type="hidden"  name="startLat" id="startLat" value="">
	<input type="hidden"  name="startLon" id="startLon" value="">

	<div>
		Image Upload
		<BR>
		<input type="file" name="pic" accept="image/*" form="AddObj" required>
		</div>
		<input type="submit" value="Submit" form="AddObj">
	</form>




<script>
	window.onload = function() {
	  var startPos;
	  var geoSuccess = function(position) {
	    startPos = position;
	    document.getElementById('startLat').value = startPos.coords.latitude;
	    document.getElementById('startLon').value = startPos.coords.longitude;
	    // var startLat = document.getElementById('startLat');
	    // startLat.setAttribute("value", startPos.coords.latitude)
	  };

	  navigator.geolocation.getCurrentPosition(geoSuccess);
	};
</script>
