<h3>

 <form method="POST" action="addObj" id="addObj" enctype='multipart/form-data'>
   
 		<div> Location:
      <p id = "startLat"> </p>
      <p id = "startLon"> </p>
		</div>

	 	<BR>
	 	Title: <input type="text" name = "title" value ="" required >
	 	<BR>

		<!-- <div>
			Image Upload
			<BR>
			<input type="file" name="pic" accept="image/*" form="AddObj" required>
		</div> -->

		<input type="submit" value="Submit">
	</form>

</3>
	<p>
		<a href="/">Go Back to Home</a href>
	</p>



<script>
	window.onload = function() {
	  var startPos;
	  var geoSuccess = function(position) {
	    startPos = position;
	    document.getElementById('startLat').innerHTML = startPos.coords.latitude;
	    document.getElementById('startLon').innerHTML = startPos.coords.longitude;
	  };
	  navigator.geolocation.getCurrentPosition(geoSuccess);
	};
</script>
