<h3>

 <form method="POST" action="/addObj" id="addObj" enctype='multipart/form-data'>
   {{!-- 
 		<div> Location:
      <p id = "startLat"> </p>
      <p id = "startLon"> </p>
		</div>
 --}}
	 	<BR>
	 	Title: <input type="text" name = "title" value ="" required >
	 	<BR>


	 	<input type="hidden" name="startLat" id="startLat" value="">

	 	<input type="hidden" name="startLon" id="startLon" value="">

 		<div>
			Image Upload
			<BR>
			<input type="file" name="pic" accept="image/*" form="addObj" required>
		</div> 

		<input type="submit" value="Submit">
	</form>

</3>
	<p>
		<a href="/">Go Back to Home</a href>
	</p>


<script>
	window.onload = function() {
	  var startPos;
	  var geoSuccess = function(position) {
	    startPos = position;
	    document.getElementById('startLat').value = startPos.coords.latitude;
	    document.getElementById('startLon').value = startPos.coords.longitude;
	  };
	  navigator.geolocation.getCurrentPosition(geoSuccess);
	};
</script>
