
<div class="container-fluid">
	<h1>Home Page<h1>
	<p>
		<a href="/view"> View Map </a><BR>
		<a href="/add"> Add Street Art </a><BR>
	</p>
		<form method = "GET" action="/search" id = "formdiv">
 		Show me: <input type="text" name = "search" value ="">
 		<BR>
 		<input type="submit" value="Search!" style="font-size:15px; color:#F4F1DE; background-color: #81B29A;"><BR><BR>
		</form>

</div>
